<div class="memotest">
	{{#each cards as |card|}}
		{{memo-card class="card" model=card flipped='flipped' bloked=cardsBloked}}
	{{/each}}

	{{#if isFinish}}
		<div class="game-finish">
			<img src="img/pisku.svg" class="bounce pisku pisku-anim" width="250px">
			<h3>¡¡Felicitaciones!!</h3>
			{{#link-to 'index' class='ui button orange large'}} 
				volver a jugar
			{{/link-to}}
		</div>
	{{/if}}
</div>
