<div class="flipper {{if isOpen "flipped"}}" {{action 'toggleOpen'}}>
	<div class="front">
		<img src="/img/back-card.svg">
	</div>
	<div class="back">
		<img src="/img/piezas-1.png">
	</div>
</div>

