<div class="flipper {{if isFlipped "flipped"}}" {{action 'toggleOpen'}}>
	<div class="front">
		<img src="/img/back-card.svg">
	</div>
	<div class="back">
		<img src="/img/{{model.className}}.png">
	</div>
</div>

