<h2>Memotest Familiar</h2>
<div class="memotest">
	{{#each cards as |card|}}
		{{memo-card class="card" model=card flipped='flipped' bloked=cardsBloked}}
	{{/each}}

	{{#if isFinish}}
		<h3>Juego Terminado!! Ganaste Campeon!</h3>
	{{/if}}
</div>
