@import url('https://fonts.googleapis.com/css?family=Chewy');
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

@import "card";
@import "animate";

$mobile: new-breakpoint(max-width 400px 6);
$vertical: new-breakpoint(max-width 700px 6);
$tablet: new-breakpoint(max-width 1025px 6);
$horizonal: new-breakpoint(max-height 500px 6);


 body {
 	background: linear-gradient(90deg, #f9aa1f, #92c643, #656fb2, #15b69c, #eb1187, #f9aa1f);
background-size: 1200% 1200%;

-webkit-animation: AnimationName 150s ease infinite;
-moz-animation: AnimationName 150s ease infinite;
animation: AnimationName 150s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
@keyframes AnimationName { 
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
 	//padding-top: 70px;
	overflow: hidden !important;
 }

 body:before {
 	position: fixed;
 	content: '';
 	top: 0;
 	right: 0;
 	left: 0;
 	bottom: 0;
 	background: rgba(51, 51, 51, .1);
 	z-index: -1;
 	background-image: url(../img/back-game.jpg);
 	background-size: cover;
 	opacity:.4
 }

.button {
	background: #f8aa1f !important;
	font-family: 'Chewy', sans-serif !important;
	color: #fff !important;

}

 nav {
		
 	position: fixed;
 	top: 0px;
 	left: 0;
 	right: 0;
 	height: 60px;

 	&.nivel-1 {
 		.progress-bar{
			background: #92c643;
			span { background: #f8aa1f; }
 		}
	}

	&.nivel-4,
	&.nivel-5 {
 		.progress-bar{
			background: #666fb2;
			span { background: #92c643; }
 		}
	}

	&.nivel-6,
	&.nivel-7 {
 		.progress-bar{
			background: #f8aa1f;
			span { background: #92c643; }
 		}
	}


 

 	.home {
 		position: fixed;
 		top: 5px;
 		left: 10px;
 		z-index: 2;
 		font-size: 29px;
 		color: #fff;
 		background: #f8aa1f;
 		width: 50px;
 		height: 50px;
 		border-radius: 15px;
 		display: flex;
 		align-items: center;
 		justify-content: center;
 	}

 	.settings {
 		position: fixed;
 		top: 5px;
 		right: 10px;
 		z-index: 2;
 		font-size: 29px;
 		color: #fff;
 		background: #f8aa1f;
 		width: 50px;
 		height: 50px;
 		border-radius: 15px;
 		display: flex;
 		align-items: center;
 		justify-content: center;
 	}
 }

.main-logo {
    position: fixed;
    top: 10px;
    left: calc(50vw - 20px);
}




 .intro {
 	max-width: 500px;
 	margin: 0 auto;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	height: 100vh;

 	.title {
 		color: #fff;
 		font-size: 35px;
 		font-weight: 100;
 		font-family: 'Chewy', sans-serif !important;
 		margin: 20px;
 		text-align: center;
 		line-height: 41px;

 	}

 	.pisku {
 		margin-left: 22px;
 	}

 
 }

 .pisku-anim {

 }

 .ingame {
 	height: 100vh;
 	overflow: hidden;

 	h2 {
 		width: 100%;
 		text-align: center;
 		color: #f9f9f9;
 		font-weight: 300;
 		font-family: 'Chewy', sans-serif !important;
 		font-size: 28px;
 		top: 13px;
 	}
 }

 .games-list {
 	padding: 1em;

 	.games-card {
 		position: relative;
 		margin: 15px;


 		&:hover {
 			.content {
 				background: rgba(103, 110, 174, 0.9) !important;
 				opacity: 1;
 			}
 		}
 	}

 	.content {
 		position: absolute;
	    bottom: 0;
	    left: 0;
	    top: 0;
	    right: 0;
	    text-align: center;
	    background: rgba(103, 110, 174, 0.1) !important;
	    color: #fff;
	    border-radius: 27px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
	    -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
	    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
	    opacity: 0;
	    font-size: 30px;

	    a {
	    	color: #fff !important;
	    }

     	@include media($mobile) {
     		position: relative;
     		opacity: 1;
    	}
 	}

 	a:hover {
 		color: #fff !important;
 	}
 }


 .memotest {
 	max-width: 900px;
 	padding: 60px 0 0 0;
 	margin: 0 auto;
 	display: flex;
 	flex-wrap: wrap;
 	flex-direction: row;
 	justify-content: center;
 	height: 100vh;
 	align-content: center;
    align-items: center;

    &.nivel-1 {
    	
	 	
    }

    &.nivel-2 {
    	max-width: 450px;
	 	@include media($tablet) {
	 		max-width: 100%;
		}
    }

    &.nivel-3 {
    	max-width: 680px;
	 	@include media($tablet) {
	 		max-width: 100%;
		}
    }

    &.nivel-4 {
    	max-width: 780px;
	 	@include media($tablet) {
	 		max-width: 100%;
		}
    }

    &.nivel-5 {

    }

    &.nivel-6 {
    	padding-top: 110px;
    }

    &.nivel-7 {
    	padding-top: 110px;
    }

 	@include media($vertical) {
 		align-content: center;
 		padding: 5px;
 		max-width: 100%;
 		margin: 0;
	}

 	.card {
 		width: auto;
 		margin: 5px;
 		cursor: pointer;
 		-webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
 		-moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
 		transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
 		position: relative;
		transform: rotateY(0deg);


 		img {
 			width: 100%;
 			height: 100%;
 		}

 		
 	}
 }

 .game-start {
 	font-size: 20px !important;
 	text-transform: uppercase !important;
 	letter-spacing: 1px;
 }

 .settings-container {
 	text-align: center;
 	padding: 60px 30px;
 	color: #fff;

 	h2 {
 		border-bottom: 1px solid #fff;
 		padding-bottom: 15px;
 	}
 }

 .game-finish {
 	position: fixed;
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	background: rgba(84, 154, 212, .9);
    animation-duration: .2s;


	.animated {
		position: fixed;
		left: calc(50vw - 200px);
		top: calc(50vh - 150px);
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 90px;
		animation-delay: .2s;
		background: #ef7004;
		border-radius: 30px;
		border: 20px solid #f7a91e;
		min-height: 300px;
		width: 400px;

		@include media($mobile) {
		 	background: none;
		 	border: none;
		}
	}


	.game-home {
	position: absolute;
	left: 40px;
	bottom: -40px;
	font-size: 30px;
	background: white;
	padding: 20px 30px;
	border-radius: 20px;
	color: #f7a91e;
		@include media($mobile) {
		 	left: 70px;
		}
	}

	.game-volume {
	font-size: 30px;
	background: white;
	padding: 20px 30px;
	border-radius: 20px;
	color: #f7a91e;
	}

	.game-next {
	position: absolute;
	right: 40px;
	bottom: -40px;
	font-size: 30px;
	background: white;
	padding: 20px 30px;
	border-radius: 20px;
	color: #f7a91e;
	cursor: pointer;
		@include media($mobile) {
		 	right: 70px;
		}
	}


     .pisku {
		position: absolute;
		top: -40px;
     }

     h2 {
     	color: #fff;
     	font-size: 35px;
     	text-align: center;
     	margin: 0;
     }




     
 }

 .game-volume {
font-size: 30px;
background: #ec1187;
padding: 20px 23px;
border-radius: 20px;
color: white !important;
position: fixed;
bottom: 5px;
right: 10px;
cursor: pointer;

}

 .game-pause {
 		position: fixed;
 		top: 0;
 		left: 0;
 		right: 0;
 		bottom: 0;
 		background: rgba(84, 154, 212, .9);
 	   animation-duration: .2s;
 	.animated {

 	position: fixed;
 	left: calc(50vw - 200px);
 	top: calc(50vh - 150px);
 	display: flex;
 	align-items: center;
 	flex-direction: column;
 	padding-top: 0;
 	animation-delay: .2s;
 	background: #d90244;
 	border-radius: 30px;
 	border: 20px solid #eb1984;
 	min-height: 300px;
 	width: 400px;
 	border-top: 70px solid #eb1984;
 	@include media($tablet) {
 		border: none;
 		padding-top: 70px;
 		background: none;
 	}

 	h1 {
 		color: #fff;
 		font-size: 40px;
 		text-align: center;
 		margin: 0;
 		font-family: 'Chewy', cursive;
 		text-transform: uppercase;
 		position: absolute;
 		top: -57px;
 		@include media($tablet) {
	 		top: 0;
	 	}
 	}
	

 	.game-home {
 	position: absolute;
 	left: 70px;
 	bottom: -40px;
 	font-size: 30px;
 	background: white;
 	padding: 20px 30px;
 	border-radius: 20px;
 	color: #eb1984;
 	}

 	.game-volume {
 		font-size: 30px;
 		background: white;
 		padding: 20px 30px;
 		border-radius: 20px;
 		color: #eb1984;
 		position: absolute;
 		bottom: -40px;
 	}

 	.game-next {
 	position: absolute;
 	right: 70px;
 	bottom: -40px;
 	font-size: 30px;
 	background: white;
 	padding: 20px 30px;
 	border-radius: 20px;
 	color: #eb1984;
 	cursor: pointer;
 	}
 	}
 }



.pisku-anim {
	animation-duration: 2s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}

.level {
	font-family: 'Chewy', cursive;
	font-size: 40px;
	position: fixed;
	top: -10px;
	//background: #f8aa1f;
	left: 15px;
	padding: 30px 20px 20px 20px;
	color: #fff;
	border-radius: 15px;
	z-index: 1;

	@include media($tablet) {
	font-size: 25px;
	}


}

.timers {
	font-family: 'Chewy', cursive;
	font-size: 30px;
	position: fixed;
	top: 0;
	background: #f8aa1f;
	right: 0;
	padding: 30px 0 20px 0;
	color: #fff;
	border-radius: 0 0 15px 15px;
	text-align: center;
	height: 60px;
	width: 100%;
	left:0;
	overflow: hidden;

	.count {
		position: absolute;
		right: 10px;
		top: 20px;

		@include media($tablet) {
		font-size: 25px;
		}
	}

	.progress-bar {
		width: 100%;
		height: 60px;
		display: block;
		background: #f8aa1f;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;



		span {
			height: 100%;
			display: block;
			background: #eb1187;
			-webkit-transition: all .8s cubic-bezier(0.7, 0, 0.3, 1);
			-moz-transition: all .8s cubic-bezier(0.7, 0, 0.3, 1);
			transition: all .8s cubic-bezier(0.7, 0, 0.3, 1);
		}
	}
}

.points {
	font-family: 'Chewy', cursive;
	font-size: 30px;
	position: fixed;
	//top: -10px;
	//background: #f8aa1f;
	left: calc(50vw - 85px);
	padding: 30px 0 20px 0;
	color: #fff;
	border-radius: 15px;
	text-align: center;
	width: 170px;
	//z-index: 1;
	z-index: 0;
 	top: 48px;
 	background: #666fb2;

	
}

.combo {
	font-size: 50px;
	font-family: 'Chewy', cursive;
	position: fixed;
	bottom: 52px;
	left: calc(50vw - 170px);
	color: #fff;
	width: 300px;
	text-align: center;

 	@include media($tablet) {
	width: 100%;
	left: 0;
	font-size: 45px;
	}

	
}

 .go-back {
 	font-family: 'Chewy', cursive;
 	position: fixed;
 	left: 10px;
 	bottom: 5px;
 	z-index: 2;
 	font-size: 39px;
 	color: #fff;
 	background: #ec1187;
 	width: 70px;
 	height: 60px;
 	border-radius: 15px;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
 	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
 	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
 	cursor: pointer;

 	&:hover {
 		background: #c31f78;
 		color: #fff;
 	}

 }