$mobile: new-breakpoint(max-width 400px 6);
$vertical: new-breakpoint(max-width 700px 6);
$tablet: new-breakpoint(max-width 1025px 6);

.flipper {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 15px;
  transition: 0.6s;
  position: relative;

@include media($vertical) {
width: 90px;
height: 90px;
}

@include media($mobile) {
width: 70px;
height: 70px;
}

}
.front, .back {
  transition: all .4s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
  img {
  width: 105% !important;
  position: relative;
  top: -3px;
  left: -3px;
  }
}

.flipper .front {
	z-index: 2;
	transform: rotateY(0deg);
}

.flipper .back {
	transform: rotateY(180deg);
  background: #88d1d9;
}

.flipper.flipped {
  transform: rotateY(180deg);
}

.flipper.flipped .front {
	z-index: 2;
	transform: rotateY(180deg);
}

.flipper.flipped .back {
	transform: rotateY(0deg);
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
