$mobile: new-breakpoint(max-width 400px 6);
$vertical: new-breakpoint(max-width 700px 6);
$tablet: new-breakpoint(max-width 1025px 6);
$horizonal: new-breakpoint(max-height 500px 6);

.memotest {
.card-animation:nth-child(1) { animation-delay: .1s; -webkit-animation-delay: .1s;  }
.card-animation:nth-child(2) { animation-delay: .15s; -webkit-animation-delay: .15s;  }
.card-animation:nth-child(3) { animation-delay: .2s; -webkit-animation-delay: .2s;  }
.card-animation:nth-child(4) { animation-delay: .25s; -webkit-animation-delay: .25s;  }
.card-animation:nth-child(5) { animation-delay: .3s; -webkit-animation-delay: .3s;  }
.card-animation:nth-child(6) { animation-delay: .35s; -webkit-animation-delay: .35s;  }
.card-animation:nth-child(7) { animation-delay: .4s; -webkit-animation-delay: .4s;  }
.card-animation:nth-child(8) { animation-delay: .45s; -webkit-animation-delay: .45s;  }
.card-animation:nth-child(9) { animation-delay: .5s; -webkit-animation-delay: .5s;  }
.card-animation:nth-child(10) { animation-delay: .55s; -webkit-animation-delay: .55s;  }
.card-animation:nth-child(11) { animation-delay: .6s; -webkit-animation-delay: .6s;  }
.card-animation:nth-child(12) { animation-delay: .65s; -webkit-animation-delay: .65s;  }
.card-animation:nth-child(13) { animation-delay: .7s; -webkit-animation-delay: .7s;  }
.card-animation:nth-child(14) { animation-delay: .75s; -webkit-animation-delay: .75s;  }
.card-animation:nth-child(15) { animation-delay: .8s; -webkit-animation-delay: .8s;  }
.card-animation:nth-child(16) { animation-delay: .85s; -webkit-animation-delay: .85s;  }
}

.flipper {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 15px;
  transition: 0.6s;
  position: relative;

  .nivel-1 & {
    width: 130px;
    height: 130px;

    @include media($mobile) {
      width: 115px;
      height: 115px;
    }

  }

  .nivel-2 & {
    width: 130px;
    height: 130px;
    @include media($mobile) {
      width: 100px;
      height: 100px;
    }
  }

  .nivel-3 & {
    width: 130px;
    height: 130px;
    @include media($mobile) {
      width: 75px;
      height: 75px;
    }
  }

  .nivel-4 & {
    width: 130px;
    height: 130px;
    @include media($vertical) {
      width: 100px;
      height: 100px;
    }
    @include media($mobile) {
      width: 72px;
      height: 72px;
    }
  }

  .nivel-5 & {
    width: 120px;
    height: 120px;
    @include media($vertical) {
      width: 100px;
      height: 100px;
    }
    @include media($mobile) {
      width: 70px;
      height: 70px;
    }
  }

  .nivel-6 & {
    width: 120px;
    height: 120px;
    @include media($vertical) {
      width: 100px;
      height: 100px;
    }
    @include media($mobile) {
      width: 60px;
      height: 60px;
    }
  }

  .nivel-7 & {
    width: 110px;
    height: 110px;
    @include media($vertical) {
      width: 100px;
      height: 100px;
    }
    @include media($mobile) {
      width: 60px;
      height: 60px;
    }
  }


}
.front, .back {
  transition: all .4s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
  img {
  //width: 105% !important;
  //position: relative;
  //top: -3px;
  //left: -3px;
  }
}

.flipper .front {
	z-index: 2;
	transform: rotateY(0deg);
}

.flipper .back {
	transform: rotateY(180deg);
  background: #88d1d9;
}

.flipper.flipped {
  transform: rotateY(180deg);
}

.flipper.flipped .front {
	z-index: 2;
	transform: rotateY(180deg);
}

.flipper.flipped .back {
	transform: rotateY(0deg);
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
