<a {{action 'pause'}} class='game-volume'>
	<i class="fa fa-volume-up" aria-hidden="true"></i>
</a>

<audio id="main-sound" src="/img/afda-ukelele.mp3" autoplay loop>
<p>If you are reading this, it is because your browser does not support the audio element.     </p>
</audio>


{{outlet}}

