<nav>
{{#link-to 'index' class="home"}} 
	<i class="fa fa-home" aria-hidden="true"></i>
{{/link-to}}

<a class="go-back">
	<i class="fa fa-volume-up" aria-hidden="true"></i>
</a>

</nav>

<audio src="/img/afda-ukelele.mp3" loop>
<p>If you are reading this, it is because your browser does not support the audio element.     </p>
</audio>


{{outlet}}

