<div class="intro">
	<img src="/img/pisku.svg" class="pisku-anim" width="150px">
	<h4 class="title">
		Hola! Juguemos un <br>
		memotest familiar.
	</h4>
	{{#link-to 'memotest' class='ui button orange small'}} 
		Empezar a jugar
	{{/link-to}}
</div>
