<div class="intro">
	<img src="img/pisku.svg" class="pisku pisku-anim" width="250px">
	<h2 class="title">
		Hola! Soy Pisku, <br>
		¿Jugamos un memotest familiar?
	</h2>
	{{#link-to 'memotest' class='ui button orange large'}} 
		empezar a jugar
	{{/link-to}}
</div>
