{{#link-to 'index' class="main-logo"}} 
<img src="img/pisku.svg" class="pisku pisku-anim" width="50px">
{{/link-to}}

<div class="ingame games-list" style="padding-top: 60px;">
	<h2>Juegos diversamente iguales</h2>
	<div class="ui link cards" style="justify-content: center;">
		<div class="ui games-card">
			{{#link-to 'memotest' class="image"}} 
			<img src="/img/back-card.svg">
			{{/link-to}}
			<div class="content">
				{{#link-to 'memotest' class="content"}}
					Memotest
				{{/link-to}}
			</div>
		</div>
		<div class="ui games-card">
			{{#link-to 'memotest' class="image"}} 
			<img src="/img/back-card.svg">
			{{/link-to}}
			{{#link-to 'memotest' class="content"}}
				Domino
			{{/link-to}}
		</div>
		<div class="ui games-card">
			{{#link-to 'memotest' class="image"}} 
			<img src="/img/back-card.svg">
			{{/link-to}}
			{{#link-to 'memotest' class="content"}}
				Diversity Hotel
			{{/link-to}}
		</div>
	</div>
</div>