<div class="memotest">
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>
	<div class="card flip">
		<img src="/img/back-card.svg">
	</div>
	<div class="card">
		<img src="/img/back-card.svg">
	</div>

</div>

{{outlet}}
