<a href="javascript:history.back()" class="go-back">
	<i class="fa fa-chevron-left" aria-hidden="true"></i>
</a>

{{#link-to 'index' class="main-logo"}} 
<img src="/img/pisku.svg" class="pisku pisku-anim" width="50px">
{{/link-to}}

<div class="settings-container">
	<h2>Ajustes</h2>
	{{outlet}}
</div>


